//custom color to be mapped
$background : #f5e8e7;
$button: #4e537b;

$theme-colors: (
// add any additional color below
  bgColor: $background,
  btnColor: $button,
// now bg-accent,btn-accent,etc.. can be called
);

@import '~bootstrap/scss/bootstrap.scss';