.view {
  height: 100%; }

#mobile-box {
  width: 360px; }

.gradient-card {
  border-radius: 8px;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 66, 37, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 47, 75, 0.5)), to(rgba(220, 66, 37, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */ }

.card {
  -webkit-border-top-radius: 0px;
  -webkit-border-bottom-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  background:#efeeee;
}


.card h5 a {
  color: #0d47a1;
}
.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left; }

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3); }

#pButton {
  margin-top: 12px;
  cursor: pointer; }

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer; }

  
  .playback-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.1),
    -6px -6px 6px rgba(255,255,255,0.6);
    transition:all 0.3s ease-in;
  }
  
  .playback-button svg {
    transition: 0.2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
  }
  
  .playback-button:hover svg {
    width: 18px;
    height: 18px;
    color: #73e7fb;
    transform: scale(1.03);
  }
  
  .timebar {
    flex: 1 1;
    margin-top: 12px;
  }
  
  .timebar-bar {
    height: 4px;
  }
  
  .timebar-circle {
    background-color: #54b1c1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    transform: translate(-50%, calc(-50% + 2px));
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .timebar-time-info {
    margin-top: 8px;
    font-size: 11px;
    color: grey;
    display: flex;
    justify-content: space-between;
  }

  .custom-modal {
    border: 0;
  }